/* Navbar Components */

.navbar ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul li {
    float: left;
    font-size: 4vw;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.navbar ul li .navabout {
    position: absolute;
    right: 0;
}

/* Landing Page */

.recipelist ul{
    list-style-type: none;
    margin: 10;
    padding: 10;
    width: 300px;
}

/* Recipe Pages */

.recipename {
    color: black;
    text-align: center;
    font-size: 5vw;
}

.container {
    margin: 20px 20px 0 0;
    overflow: auto;
    border: 5px solid #333;
}

.recipeimage img{
    float: left;
    width: 40%;
    height: auto;
}

.ingredientslist {
    float: left;
    margin: 10px;
}


 